<html>
    <head>
        <title>Anett's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Anett's blog</a></h1>
        </div>

        <div>
            <p>published: 16.05.2015, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>I'm on the Django girls event. And finding it really interesting creating this blog. </p>
        </div>

        <div>
            <p>published: 16.05.2015, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Still on the event i was writing before.</p>
        </div>
    </body>
</html>
